SERVICE_NAME=api-gateway
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
REDIS_URL=redis://redis:6379
USER_SERVICE_URL=http://user-service:3001
PET_SERVICE_URL=http://pet-service:3002
EHR_SERVICE_URL=http://ehr-service:3003
APPOINTMENT_SERVICE_URL=http://appointment-service:3004
TELEMED_SERVICE_URL=http://telemed-service:3006
NOTIFICATION_SERVICE_URL=http://notification-service:3007
BILLING_SERVICE_URL=http://billing-service:3005
ANALYTICS_SERVICE_URL=http://analytics-service:3008
LOG_FILE_PATH=/var/log/petwell/api-gateway.log
